***Problem Statement***

**To clean and preprocess a mental health-related Twitter dataset for accurate sentiment analysis in future model development.**

In [8]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

data = pd.read_csv('twitter.csv')
data.head(10)

Matplotlib is building the font cache; this may take a moment.

,2401,Borderlands,Positive,"im getting on borderlands and i will murder you all ,"
0,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
1,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
2,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
3,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...
4,2401,Borderlands,Positive,im getting into borderlands and i can murder y...
5,2402,Borderlands,Positive,So I spent a few hours making something for fu...
6,2402,Borderlands,Positive,So I spent a couple of hours doing something f...
7,2402,Borderlands,Positive,So I spent a few hours doing something for fun...
8,2402,Borderlands,Positive,So I spent a few hours making something for fu...
9,2402,Borderlands,Positive,2010 So I spent a few hours making something f...

In [9]:
data.columns

Index(['2401', 'Borderlands', 'Positive',
       'im getting on borderlands and i will murder you all ,'],
      dtype='object')

In [10]:
# Exploratory data analysis
data.dtypes

2401                                                      int64
Borderlands                                              object
Positive                                                 object
im getting on borderlands and i will murder you all ,    object
dtype: object

In [11]:
data.describe()

               2401
count  74681.000000
mean    6432.640149
std     3740.423819
min        1.000000
25%     3195.000000
50%     6422.000000
75%     9601.000000
max    13200.000000

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74681 entries, 0 to 74680
Data columns (total 4 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   2401                                                   74681 non-null  int64
 1   Borderlands                                            74681 non-null  object
 2   Positive                                               74681 non-null  object
 3   im getting on borderlands and i will murder you all ,  73995 non-null  object
dtypes: int64(1), object(3)
memory usage: 2.3+ MB

In [13]:
# Cleaning
data.isna().any().any()
# This means there is NAN present int the dataset

np.True_

In [14]:
print(data[data.isna().any(axis=1)])
print('') 
print(data.isna().sum())
# NAN per row

       2401  Borderlands  Positive  \
60     2411  Borderlands   Neutral
552    2496  Borderlands   Neutral
588    2503  Borderlands   Neutral
744    2532  Borderlands  Positive
1104   2595  Borderlands  Positive
...     ...          ...       ...
73971  9073       Nvidia  Positive
73972  9073       Nvidia  Positive
74420  9154       Nvidia  Positive
74421  9154       Nvidia  Positive
74422  9154       Nvidia  Positive

      im getting on borderlands and i will murder you all ,
60                                                   NaN
552                                                  NaN
588                                                  NaN
744                                                  NaN
1104                                                 NaN
...                                                  ...
73971                                                NaN
73972                                                NaN
74420                                                NaN
74421                                                NaN
74422                                                NaN

[686 rows x 4 columns]

2401                                                       0
Borderlands                                                0
Positive                                                   0
im getting on borderlands and i will murder you all ,    686
dtype: int64